Version: 0.0.1
Package: quakepub
Section: misc
Priority: optional
Architecture: all
Maintainer: Robert McLeod <robert@penguinpower.co.nz>
Essential: no
Homepage: http://quakes.nz
Installed-Size: 17457
Description: Evented Earthquakes from the Geonet API
  Delivers earthquake events from the Geonet API over
  NATS and WebSockets
